[submodule "dapper-dot-net"]
	path = dapper-dot-net
	url = git://github.com/vosen/dapper-dot-net.git/
[submodule "mathnet-numerics"]
	path = mathnet-numerics
	url = git@bitbucket.org:vosen/madarame.git/mathnet-numerics/
[submodule "funksvd.core"]
	path = funksvd.core
	url = git@bitbucket.org:vosen/funksvd.git
