<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<clear />
		<!--
		<add 
			name="SQLite" 
			providerName="SQLite"
			connectionString="Data Source=mal.db;Pooling=true;" />
			-->
		<!--
		<add 
			name="PostgreSQL" 
			providerName="PostgreSQL"
			connectionString="Server=127.0.0.1;Port=5432;Database=mal;User Id=vosen;Password=postgres;" />
		-->
		<add 
			name="PostgreSQL" 
			providerName="PostgreSQL"
			connectionString="Server=127.0.0.1;Port=5432;Database=mal-utf8;User Id=vosen;Password=postgres;" />
	</connectionStrings>
</configuration>
