html,body {
    height:100%;
}

h3, h2, h1 {
    font-family: 'Lato', sans-serif;
    font-weight:700;
}

.rating {
    padding-right: 4px;
}

h2 {
    line-height: 24px;
    text-align: right;
}

small strong {
    color: #005580;
}

.table-titles {
    margin-bottom: 0px;
    border-radius:4px;
}

.table-titles tr:first-child td {
    border-top:0px;
    padding: 0px 0px 4px 0px;
}


.table-titles tr:first-child td span {
    border-top: 1px solid #dddddd;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
    padding: 4px 4px 0px 4px;
}

.table-titles tr:first-child td:first-child {
    text-align: right; 
    color: White;
    padding:0px;
    width:104px;
    text-shadow: 1px 1px #316231;
    background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.08) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.08) 50%, rgba(0, 0, 0, 0.08) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    border-radius: 4px 0px 0px 4px;
    border-top:0px;
}

.rated10 tr:first-child td:first-child {
    background-color: #79B524;
}

.rated9 tr:first-child td:first-child {
    background-color: #A2CC37;
}

.rated8 tr:first-child td:first-child {
    background-color: #D0E64B;
}

.table-titles tr:last-child td {
    background: transparent !important;
}