h1 {
    font-size: 60px;
    line-height: 60px;
    text-align:center;
    font-weight:bold;
}

h2 {
    line-height: 24px;
    text-align: right;
}
h3, h2,h1 {
    font-family: 'Lato', sans-serif;
}