<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.2" targetFramework="net40" />
  <package id="ServiceStack" version="3.8.3" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.8.3" targetFramework="net40" />
  <package id="ServiceStack.Mvc" version="3.7.8" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.8.3" targetFramework="net40" />
</packages>