<div style="padding-right:9px;">
    <input name="login" style="margin-right:20px" type="text" class="input"/>
</div>
<p>
Examples:
<ul>
    <li>askanier</li>
    <li>myanimelist.net/profile/askanier</li>
    <li>http://myanimelist.net/profile/askanier</li>
</ul>
</p>