<div>
    <table border="0" cellpadding="0" id="title-list">
    <tbody></tbody>
    <tfoot>
    <tr>
        <td colspan="3">
            <button class="btn btn-success button-add"><i class="icon-white icon-plus"></i> Add</button>
        </td>
    </tr>
    </tfoot>
    </table>
</div>